{% extends 'base.html.twig' %}

{% block title %}Hello ShowController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello  my friend ! ✅</h1>
    <ul>
        <li>Отчет первый <code><a href="{{ path('order') }}">Отчет по заказам за выбранный период времени</a></code></li>
        <li>Отчет второй <code><a href="{{ path('item') }}">Отчет по самым покупаемым товарам (Топ 100)</a></code></li>
    </ul>
    <p class="alert-info">Нужно создать базу данных реализованных товаров, с помощью которой можно отслеживать продажи.</p>

    <p class="alert-danger">Схема БД:</p>


    <p>Заказ -
        Order (
        number - IntegerField,
        created_date - DateTimeField
        )
    </p>


    <p>Элемент заказа -

        OrderItem (
        order - ForeignKey,
        product_name - CharField,
        product_price - DecimalField,
        amount - IntegerField
        )
    </p>


    <p>Соответственно должно быть создано и описано ТОЛЬКО две модели,
        и только с теми полями которые описаны в "Схема БД".

        Никаких дополнительных полей или таблиц быть не должно!
    </p>
<ul class="list-group">
    <li class="list-group-item">
       <p> 1.
           Написать консольную команду для генерации заказов

           Команда должна принимать аргумент "{количество заказов}".

           Сгенерировать {количество заказов} заказов.

           Каждый заказ должен содержать рандомно от 1 до 5 элементов заказа.

           Начальной точкой даты создания возьмем 01.01.2018 09:00
       </p>
        <p>
            Order(

            number="{номер итерации}",

            created_date="{начальная точка} + {номер итерации} часов",

            )
        </p>
        <p>
            OrderItem(

            order="текущий заказ",

            product_name="Товар-{номер элемента}",

            product_price="рандомная цена от 100 до 9999",

            amount="рандомное количество от 1 до 10"

            )
        </p>
    </li>
    <li class="list-group-item">
        <p> 2. Страницы отчетов</p>
        <p> Отчет по заказам за выбранный период времени:
            колонки (дата и время, номер заказа, сумма, товары ({имя товара}х{количество}))</p>
        <p> Отчет по самым покупаемым товарам (Топ 100) за период времени:

            колонки (имя товара, данные (Заказ {номер заказа} - Цена {цена товара в заказе} - Дата {дата покупки})

            все заказы которые содержат данный товар за выбранный период времени)</p>
        <p>
            Пример:

            Товар-1; Заказ 1 - Цена 200 - Дата 01.01.2018 10:00, Заказ 2 - Цена 550 - Дата 10.01.2018 13:00;

            Товар-2; Заказ 3 - Цена 600 - Дата 01.06.2018 12:00, Заказ 4 - Цена 1077 - Дата 10.08.2018 13:00;

            Самый покупаемый товар - товар который купили больше всего штук (amount), итого по всем заказам.
        </p>
    </li>
</ul>

</div>
{% endblock %}
